body {
    margin: 0;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    color: teal;
    font-size: 28px;
  }
  
  .tick text {
    font-size: 16px;
  }
  
  .axis path,
  .axis line {
    stroke: black;
    stroke-width: 1;
  }
  
  .axis-label {
    font-size: 16px;
    fill: green;
  }  